@model List<Hareket>
@{
    ViewBag.Title = "Index";
}

<h2>Ödünç Kitap Listesi</h2>

<table class="table table-hover table table-striped mt-3">
    <thead  style="font-weight:bold">
        <tr>
            <td>İşlem Id</td>
            <td>Kitap Adı</td>
            <td>Üye</td>
            <td>Personel</td>
            <td>Alış Tarihi</td>
            <td>İade Tarihi</td>
            <td>Kitabı İade Et</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Kitap1.Ad</td>
                <td>@item.Uyeler.Ad @item.Uyeler.Soyad</td>
                <td>@item.Personel1.Personel1</td>
                <td>@Convert.ToDateTime(item.AlisTarihi).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(item.IadeTarihi).ToString("dd/MM/yyyy")</td>
                <td class="text-center">
                    <a href="Odunc/OduncIade/@item.Id" class="btn btn-danger ">
                        <i class="fa fa-arrow-down"></i>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

