@model Kitap
@{
    ViewBag.Title = "Duzenle";
}

@using (Html.BeginForm("Duzenle", "Kitap", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group  ">
        @Html.LabelFor(x => x.Ad)
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Ad, null, new { @class = "text-danger" })
    </div>
    <div class="form-group  ">
        @Html.LabelFor(x => x.Yazar)
        @Html.DropDownListFor(x => x.Yazar, null, "Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Yazar, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Kategori)
        @Html.DropDownListFor(x => x.Kategori, null, "Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Kategori, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.BasımYıl)
        @Html.TextBoxFor(x => x.BasımYıl, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BasımYıl, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Yayinevi)
        @Html.TextBoxFor(x => x.Yayinevi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Yayinevi, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Sayfa)
        @Html.TextBoxFor(x => x.Sayfa, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Sayfa, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Foto)

        <div id="mevcutResim">
            <img src="@Url.UrunResim(Model.KitapKapak)" alt="Ürün Resmi" height="75" />
            @if (!string.IsNullOrEmpty(Model.KitapKapak))
            {
                <div>
                    <a href="#" onclick="document.resimSilForm.submit()">Resmi Sil</a>
                </div>
            }
        </div>

        <div id="onizlemeResim" class="d-none">
            <img src="" alt="Yüklenecek Resim Önizleme" height="75" />
        </div>

        @Html.TextBoxFor(x => x.Foto, new { type = "file", @class = "form-control-file mt-1", accept = "image/png, image/jpeg" })
        @Html.ValidationMessageFor(x => x.Foto, null, new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Düzenle</button>
    <a href="@Url.Action("Index","Kitap")" class="btn btn-danger">İptal</a>
}

@using (Html.BeginForm("UrunResimSil", "Kitap", FormMethod.Post, new { name = "resimSilForm" }))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(x => x.Id);
}

@section scripts {
    <script>
        $("#Foto").change(function (event) {
            // eğer dosya seçildiyse
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                // dosya okuma işlemi bittiğinde
                reader.onload = function (e) {
                    $("#onizlemeResim img").attr("src", e.target.result);
                    $("#mevcutResim").addClass("d-none");
                    $("#onizlemeResim").removeClass("d-none");
                };

                // dosyayı oku
                reader.readAsDataURL(this.files[0]);
            }
            else {
                $("#mevcutResim").removeClass("d-none");
                $("#onizlemeResim").addClass("d-none");
            }
        });
    </script>
}