@model List<Kitap>
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
<div style="margin:15px 0" class="form-group row">
    @Html.TextBox("p", null, new { @class = "form-control col-9", placeholder = "Kitap Ara" })
    <input class="btn btn-primary col-1" type="submit" value="Ara" />
    <a href="@Url.Action("Yeni","Kitap")" class="btn btn-danger col-2"><i class="fa fa-plus"></i> Yeni Kitap Ekle</a>
</div>
}



<table class="table table-hover table table-striped mt-3">
    <thead  style="font-weight:bold">
        <tr>
            <td>Id</td>
            <td>Kitap Adı</td>
            <td>Yazar</td>
            <td>Kategori</td>
            <td>Basım Yılı</td>
            <td>Yayın Evi</td>
            <td>Sayfa</td>
            <td>Ürün Görseli</td>
            <td>İşlemler</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.Yazar1.Ad @item.Yazar1.Soyad</td>
            <td>@item.Kategori1.Ad</td>
            <td>@item.BasımYıl</td>
            <td>@item.Yayinevi</td>
            <td>@item.Sayfa</td>
            <td class="text-center">
                <img src="@Url.UrunResim(item.KitapKapak)" height="100" />
            </td>
            <td>
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#silModal"
                   data-kitap-id="@item.Id" data-kitap-ad="@item.Ad">
                    <i class="fa fa-trash"></i>
                </a>
                <a href="@Url.Action("Duzenle", new { id = item.Id })" class="btn btn-success"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("Sil", "Kitap", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <!-- Modal -->
    <div class="modal fade" id="silModal" tabindex="1" role="dialog" aria-labelledby="silModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="silModalTitle">Silme Onayı</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    &quot;<span id="silKitapAd">xxx</span>&quot; adlı kitapın silinmesini onaylıyor musunuz?

                    <input type="hidden" id="silKitapId" name="id" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary">Evet</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $('#silModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // modalın açılmasını tetikleyen buton
            var Ad = button.data('kitap-ad'); // tetikleyici buton üzerindeki data-urun-ad attribute'u
            var Id = button.data('kitap-id'); // tetikleyici buton üzerindeki data-urun-id attribute'u
            var modal = $(this); // açılan modal'ın kendisi
            modal.find('#silKitapAd').text(Ad); // modal üzerindeki kitap ad span'ı
            modal.find('#silKitapId').val(Id); // modal üzerindeki kitap id hidden alanı
        });
    </script>
}

