@model List<Personel>
@{
    ViewBag.Title = "Index";
}

<h2>Personel Listesi</h2>

<a href="@Url.Action("Yeni","Personel")" class="btn btn-primary"><i class="fa fa-plus"></i> Yeni Personel Ekle</a>

<table class="table table-hover table table-striped mt-3">
    <thead  style="font-weight:bold">
        <tr>
            <td>Personel Id</td>
            <td>Personel</td>
            <td>İşlemler</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Personel1</td>
                <td>
                    <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#silModal"
                       data-kat-id="@item.Id" data-kat-ad="@item.Personel1">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a href="@Url.Action("Duzenle", new {id =item.Id })" class="btn btn-success"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("Sil", "Personel", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <!-- Modal -->
    <div class="modal fade" id="silModal" tabindex="1" role="dialog" aria-labelledby="silModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="silModalTitle">Silme Onayı</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    &quot;<span id="silKatAd">xxx</span>&quot; adlı personelin silinmesini onaylıyor musunuz?

                    <input type="hidden" id="silKatId" name="id" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary">Evet</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $('#silModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // modalın açılmasını tetikleyen buton
            var Ad = button.data('kat-ad'); // tetikleyici buton üzerindeki data-urun-ad attribute'u
            var Id = button.data('kat-id'); // tetikleyici buton üzerindeki data-urun-id attribute'u
            var modal = $(this); // açılan modal'ın kendisi
            modal.find('#silKatAd').text(Ad); // modal üzerindeki kat ad span'ı
            modal.find('#silKatId').val(Id); // modal üzerindeki kat id hidden alanı
        });
    </script>
}


